#FabClose,
#FabAdd {
  z-index: 10;
}

.blink {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* articles carousel */
.flickity-viewport {
  inline-size: 100%;
  block-size: 510px !important;
}

#navbar {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

td, tr {
  font-size: 14pt !important;
}

th {
  font-weight: bold !important;
  font-size: 15pt !important;
}